<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            background: #ff5353;
            padding: 20px 10px;
        }
        
        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        
        nav a {
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 0px;
            display: block;
        }
        
        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        
        main header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        
        .google-btn {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            background: #ff5353;
            margin: 10px;
            max-width: 100px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/auth/logout">LogOut</a>
            </li>
            <li>
                <a href="/">Home Page</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>
            welcome to your Discipline Code profile page <br>

            <%= user.username  %>
        </h1>
    </header>
    <main>
        <img src="<%=user.thumbnail%>" alt="image is not present" />
        <p>this is your image thumbnail</p>

    </main>
</body>

</html>